<div class="row">

    <div>

    </div>
    <div class="user-info">
        <div class="form-group"><h6>First name:</h6> <input class="form-control" ng-model="user.name"></div>
        <div class="form-group"><h6>Surname:</h6> <input class="form-control" ng-model="user.surname"></div>
        <div class="form-group"><h6>Email:</h6> <input class="form-control" ng-model="user.email"></div>
        <div class="form-group"><h6>Phone: </h6><input class="form-control" ng-model="user.phone"></div>
        <div class="one-row">
            <div class="form-group"><button class="btn btn-primary" ng-click="updateInfo()">Update info</button>
            <button class="btn btn-primary" ng-click="back()">Back</button></div>
        </div>

    </div>


</div>